Assignment :

Question 1: What are data structure ,and why are they important?
- Data structure are specialized formats for storing,organzing and manipulating data efficiently in a computer.

They are important because:
    > they provide efficient ways to access and modify the data.
    > they help organize data in meaningful ways.
    > they can significantly impact the speed and efficiency of your code.

Question 2: Explain the differnce between mutable and immutable data types with examples?
- Mutable data types can be changed after creation:

     > lits:my_list = [1,2,3]  -> my_list[0] = 99
     (works)
     > Dictionaries:my_dict = {"a":1} -> my_dict = 2
     (works)
     > Sets: my_set = {1,2,3}  -> my_set.add(4)
     (works)

  Immutable data types cannot be changed after creation:

     > int x = 5 -> cannot modify the value 5 itself
     > floats y = 2.5 -> cannot be changed/ modify  the value 2.5 by
       itself
     > str (s) = "hello" -> cannot be modify individual characters.
     > tuples(t) = (3,5,6) -> cannot be modify elements after the
       creation

Question 3: What are the main difference between list and tuples in python?

- Mutability: lists are muatable (can be changed) , tuples are immutable
  (cannot be changed)
- lists are heteogenous where the tuples are homogenous.
- Syntax: list uses the square brackets [] ,tuples uses the parenthese   
  ()
- Usage: lists uses for collection that need to be modified,tuples for
  fixed collection


Question 4: Describe how dictionaries store data?
- Dictionaries stores data as key-value pairs using a hash table  implementation:

   . each key must be unique and immutable (like srings,numbers or tuples)
   . values can be mutable and any data type
   . dictionaries uses the hash function to compute an index where the
     values are stored
   .  this provide very fast O(1) lookup time


Question 5: Why might you use a set instead of a list in python?
- set automatically eliminates the duplicate and ensure that the   
  elements are unique.
- order of element is not important
- you need faster add/remove operations for large collections \
- you need to perform mathematical set operation (union,intersection,
  difference)


Question 6:What is a string in python ,and how is it different from a list?
- A string in a python is an immutable sequence of characters.

Differences from list:

> strings can only contains characters ,while list can contain any data
  type
> strings are immutable (cannot be changed), lists are mutable.
> strings uses different syntax: "hello" vs ['h','e','l','l','o']


Question 7: How do tuples ensure data integrity in python?
- Tuples ensure data integrity through:

 > Immutability: Once created ,tuples content cannot be modified
 > Immutability allows tuples to be used as dictionary keys
 > They can be used to gurantee that data won't change throughout program
   execution.
 > their immutability makes them more memory efficient and slightly  
   faster than lists


Question 8: What is hash table,and how does it relate to the dictionaries in python?
-  A hash table is a data structure that maps keys to value using a hasdh function

      . Dictionaries are implemented using a hash tables.
      . The hash function convetrs the keys into an array indices for
        storage
      . When you access a key, python hashes is to find the  
        corresponding value quickly


Question 9: Can lists contain different data types in python?
- Yes! lists in python can contain different data types

    > Numbers (integers,floats)
    > Strings
    > Boolean
    > tuples,dictionaries,sets


Question 10: Explain why strings are immutable in python?
-  Strings are immutable for several reasons :

    > It allows python to optmize memory usage by reusing strings objects
    > It allows strings to be used as a dictionary keys
    > It simplifies string handling and prevents unexpected side effects
    > It ensures security since strings can't be modified unexpectively


Question 11. What advantages do dictionaries offer ovewr list for certain tasks?
- Semantic clarity with named keys instead of numeric  indices
- Can store heterogenous data with named fields
- No need to know the position of an itembto retrieve it
- Better for representing structured data with named fields

Question 12: describe a scenario where using a tuple would be preferable over a list?
- Tuples are preferable when:

  . Storing data that shouldn't change
  . When you want to enforce the immutability for data security
  . Using as dictionary keys where list can't be


Question 13: How do set handle the duplicate values in python?
- Sets automatically Eliminates duplicate:

  . When you create a set or add elements to it,duplicates  are silently
     ignored
  . only one instance of each value is stored
  . This happens because sets use hash table internally
  . When you convert another collection to a set,duplicates are reoved
  . Exaples: {1,2,3,3,2,4} becomes {1,2,3}


Question 14: How does the "in" keyword work for differently for lists and dictionaries?
- The in keyyword work differently because:

  > for lists: 'in' searches sequentially througjh all elememnts
  > for dictionaries: 'in' checks a key exists using hashing
  > for lists 'in' gets slower as the list grows
  > for dictionaries 'in' remains fast regardless of size


Question 15: Can you modify the element of a tuple?Explain why or why not?
- you cannot modify the element of a tuple as tuples are immutable.however:

> you cannot add,remove or replace the elements in a tuple
> you cannot assign to individual positions: my_tuple[0] = 5 will raise  
  an error
> if a tuple contains mutable objects (like lists),those objects can be   modified


Question 16: What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where some values are thenselves a
  dictionaries

In [ ]:
# Example
student_data = {"abhishek":{"age":20,"subject":"data analytics","grades":{"maths":60,"programming":70}},"abhimanyu":{"age":23,"subject":"data science","grades":{"python":100,"soft skills":90}}}
student_data

{'abhishek': {'age': 20,
  'subject': 'data analytics',
  'grades': {'maths': 60, 'programming': 70}},
 'abhimanyu': {'age': 23,
  'subject': 'data science',
  'grades': {'python': 100, 'soft skills': 90}}}

Question 17: Describe the time complexity of accessing elements in a dictionary?
> average case: O(1) - constant time
> Worsrt case: O(n) - linear time

Question 18: In what situations are lists prefered oveer dictionaries?
- Lists are prefered when:

  . Order matyters and you need to maintain sequence
  . You need to access elements by position (index) rather than by a name
  . You need to store duplicate values
  . You need to perform operations of all elements frequently


Question 19: Why are dictionaries considered unordered,and how does they affect data retival?
- traditionally,were considered unordered because:

  > the internal hash table implementation didn't guarantee position
  > the order could change between python version or implementations
  > insertion order wasn't preserved

 This affects data retrival because:

 > you should access items by key,not position
 > If order is critical,consider using OrderedDict


Quiestion 20: Explain the difference between a list and a dictionary in terms of data retrival?
- Lists vs Dictionaries for data retrival:

 > Lists: retrive by index using square brackets: my_list[0]
 > Dictionaries: retrive by key using square brackets:my_dict['key']
 > List retrival is O(1) if you know thw index,but searching is O(n)
 > Dictionary retrival is O(1) regardless of size
 > Lists require knowing the position of data
 > Dictionary require knowing the key but not the position

Practical Question:

Question 1: Write a code a string with your namne and print it

In [ ]:
my_name = "Abhimanyu Singh Pundir"
my_name

'Abhimanyu Singh Pundir'

Question 2: Write a code to find the length of a string "hello world"

In [ ]:
from typing import Counter
str = input ("enter a string:")
Counter = 0
for s in str:
    Counter = Counter + 1
print("Length of the input string is:", Counter)

enter a string:hello world
Length of the input string is: 11

Question 3: Write a code to slice the first 3 characters from the string "python programming"

In [ ]:
text = "python programming"
sliced_text = text[:3]
print(sliced_text)

pyt

Question 4: Write a code to convert the string "hello" to uppercase

In [ ]:
 text = "hello"
 text.upper()

'HELLO'

Question 5: write a code to replace the word "apple" with "orange" in the string "i like apple":

In [ ]:
text = "i like apple"
new_text = text.replace("apple","orange")
print(new_text)

i like orange

Question 6:  Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
my_list = [1,2,3,4,5]
my_list
# alternative way to create the list
my_list = list(range(1,6))
my_list

[1, 2, 3, 4, 5]

Question 7: Write a code to append the number 10 to the list [1,2,3,4]

In [ ]:
list=[1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

Question 8: write a code to remove the number 3 from the list[1,2,3,4]

In [ ]:
list = [1,2,3,4]
list.remove(3)
list

[1, 2, 4]

Question 9: write a code to access the second element in the list ['a','b','c','d']

In [ ]:
letter = ['a','b','c','d']
second_element = letter[1]
second_element

'b'

Question 10: write a code to reverse the list [10,20,30,40,50]

In [ ]:
list = [10,20,30,40,50]
list.reverse()
list

[50, 40, 30, 20, 10]

Question 11: write a code to create a tuple with the elements 100,200,300 and print it

In [ ]:
my_tuple = (100,200,300)
my_tuple

(100, 200, 300)

Question 12: write a code to access the second-to-last element of the tuple ('red','green','blue','yellow')

In [ ]:
my_tuple = ('red','green','blue','yellow')
second_to_last_element = my_tuple[2]
second_to_last_element

'blue'

Question 13: write a code to find the minimum number in the tuple (10,20,5,15)

In [ ]:
my_tuple = (10,20,5,15)
minimum_number = min(my_tuple)
minimum_number

5

Question 14: write a code to find the index of the element "cat" in the tuple ('dog','cat','rabbit')

In [ ]:
my_tuple = ('dog','cat','rabbit')
index = my_tuple.index('cat')
index

1

Question 15: write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
fruits = ("apple","banana","orange")
if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

Question 16: write a code to create a set with the elements 'a','b','c', and print it

In [ ]:
my_set = {'a','b','c'}
my_set

{'a', 'b', 'c'}

Question 17: Write a code to clear all elements from the set {1,2,3,4,5}

In [ ]:
my_set = {1,2,3,4,5}
my_set.clear()
my_set

set()

Question 18: write a code to remove 4 from the set {1,2,3,4}

In [ ]:
my_set = {1,2,3,4}
my_set.remove(4)
my_set

{1, 2, 3}

Question 19: write a code to find the union of two sets {1,2,3} and {3,4,5}

In [ ]:
my_set1 = {1,2,3}
my_set2 = {3,4,5}
union_set = my_set1.union(my_set2)
union_set

{1, 2, 3, 4, 5}

Question 20: write a code to find the intersection of two sets {1,2,3} and {2,3,4}

In [ ]:
my_set1 = {1,2,3}
my_set2 = {2,3,4}
intersection_set = my_set1.intersection(my_set2)
intersection_set

{2, 3}

Question 21: write a code to create a dictionary with the keys "name","age","city" and print it

In [ ]:
my_dict = {"name":"Abhimanyu","age":23,"city":"Lucknow"}
my_dict

{'name': 'Abhimanyu', 'age': 23, 'city': 'Lucknow'}

Question 22: write a code to add a new key-value pair "country":"USA" to the dictionary {"name":"john","age":25}

In [ ]:
dict = {"name":"john","age":25}
dict["country"] = "USA"
dict

{'name': 'john', 'age': 25, 'country': 'USA'}

-Question 23: write a code to access the value associated with the key "name" in the dictionary {'name':'alice','age':30}

In [ ]:
my_dict = {'name':'alice','age':30}
value = my_dict['name']
value

'alice'

Question 24: write a code to remove the key "age" from the dictionary {'name':'bob','age':22,'city':'newyork'}

In [ ]:
my_dict = {'name':'bob','age':22,'city':'newyork'}
del my_dict['age']
my_dict

{'name': 'bob', 'city': 'newyork'}

Question25: write a code to check if the key "city" existsin the dictionary {'name':'alice','city':'paris'}

In [ ]:
my_dict = {'name':'alice','city':'paris'}
if 'city' in my_dict:
    print("city exists in the dictionary")
else:
    print("city does not exist in the dictionary")

city exists in the dictionary

Question 26: write a code to create a list , a tuple and a dictionary and priont them all

In [ ]:
my_list= [1,2,3]
my_tuple = ('a','b','c')
my_dict = {'name':'prashant','age':23}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
('a', 'b', 'c')
{'name': 'prashant', 'age': 23}

Question 27: write a code to create a list of 5 random number between 1 and 100,sort it in ascending order,and print the result

In [ ]:
import random
random_numbers = [random.randint(1,100) for _ in range(5)]
print("random numbers:",random_numbers)
random_numbers.sort()
print("sorted numbers:",random_numbers)

random numbers: [79, 90, 68, 17, 60]
sorted numbers: [17, 60, 68, 79, 90]

Question 28: write a code to creatae a list with strings and print the element at the third index

In [ ]:
list = ['apple','banana','orange','kiwi','mango']
print(list[3])

kiwi

Question 29: write a code to combine two dictionaries into one and printthe result

In [ ]:
dict1 = {'a':1,'b':2}
dict2 = {'c':3,'d':4}
combined_dict = {**dict1,**dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

Quiestion 30: write a code to convert a list of strings into a set

In [ ]:
string_list = ["apple","banana","apple","cherry","banana"]
string_set = set(string_list)
print(string_set)

{'banana', 'cherry', 'apple'}